html, body {
    overflow: hidden !important;
    height: 100% !important;
}

.sa-layout-body-explorer{
    height:100%;
    margin-top:2px;
    margin-bottom:5px;
    width:16%;
    float:left;
}

.sa-layout-body-manage{
    height:107%;
    width:82%;
    float:right;
    margin:0px;
    margin-left:25px;
    margin-top:10px;
    overflow:hidden;
}

.sa-sqlfield {
    float: right;
    margin-top:-6px;
}
