.sui-add-monitor{
    position:fixed;
    top:200px;
    left:600px;
} 
.sui-monitor {
    height:340px;
}
.sui-monitor .sui-border{
    height:300px;
}
.sui-monitor .sui-content{
    height:300px;
    padding-top:0px;
}
.sui-monitor-form{
    height:auto;
}
