.cpuinfo-nav {
    border-bottom: 1px solid #808080;
}

    .cpuinfo-nav ul {
        list-style: none;
        padding: 0px;
        margin: 0px;
    }

        .cpuinfo-nav ul li {
            float: left;
        }

.query-panel {
    height:90%;
}

.query-panel-all{
    height:100%;
}

.query-panel-all .sa-datagrid-content {
    height:100%;
}