* {
    font-family: 'Segoe UI';
    margin: 0px;
}

body,html,document {
    background: #293955;
    overflow: hidden;
    height:100%;
}

.sa-clear {
    clear: both;
}

.sa-window {
    width: 420px;
    height: 315px;
    border: 1px solid #636363;
    -webkit-box-shadow: 1px 1px 2px;
    -moz-box-shadow: 1px 1px 2px;
    box-shadow: 1px 1px 2px;
    position: absolute;
    top: 10px;
    left: 200px;
    background: #fff;
    z-index: 888;
}

.sa-border {
    border: 10px solid #B6B6B6;
    border-top: 30px solid #B6B6B6;
    width: 400px;
    height: 275px;
}

.sa-content {
    border: 1px solid #636363;
    width: 400px;
    height: 275px;
}

.sa-title {
    width: 385px;
    height: 50px;
    background: #E0E0E0;
    font-size: 32px;
    vertical-align: central;
    padding-top: 20px;
    padding-left: 15px;
}

.sa-form {
    margin: auto;
    height: 157px;
    text-align: center;
}

    .sa-form div {
        margin: 8px;
    }

.sa-connect-input {
    width: 240px;
    height: 20px;
    border: 1px solid #ABABAB;
}

.sa-connect-footer {
    border-top: 3px #CFCFCF solid;
    height: 58px;
    align-content: center;
    text-align: center;
}

.sa-button {
    background: #065999;
    border: none;
    color: #fff;
    width: 78px;
    height: 24px;
    cursor: pointer;
    font-size: 12px;
    margin: 10px;
    margin-top: 8px;
}

.sa-menu {
    background: #F0F0F0;
    height: 30px;
    width: 100%;
}

.sa-menu-list {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.sa-menu-item {
    float: left;
    cursor: pointer;
    margin: 2px;
    margin-top: 4px;
    font-size: 14px;
    width: 50px;
    height: 22px;
    text-align: center;
    vertical-align: central;
    border: #F0F0F0 solid 1px;
}

.sa-menu-item-title {
    border: #F0F0F0 solid 1px;
    width: 50px;
    height: 22px;
}

    .sa-menu-item-title:hover {
        background: #1ea2e5;
        border: #065999 solid 1px;
    }

.sa-menu-item-select {
    border: 1px solid #828790;
    border-bottom: none;
}

.sa-menu-subs {
    background: #F0F0F0;
    position: absolute;
    top: 30px;
    left: 0px;
    z-index: 998;
    border: 1px solid #828790;
    border-top: none;
    list-style: none;
    padding: 0px;
    margin: 0px;
    padding: 8px;
}

.sa-menu-item-subs-icon {
    width: 16px;
    height: 16px;
    padding: 2px;
    border-right: #ABABAB 1px solid;
    float: left;
    padding-right: 6px;
}

.sa-menu-item-subs-title {
    float: left;
    margin-left: 8px;
    border: #F0F0F0 solid 1px;
}

    .sa-menu-item-subs-title:hover {
        background: #1ea2e5;
        border: #065999 solid 1px;
    }

.sa-explorer {
    width: 20%;
    height: 100%;
    border-left: none;
    padding-right: 20px;
    position: absolute;
    top: 33px;
    left: 0px;
    z-index: 666;
}

.sa-explorer-title {
    background: #FFF3CD;
    width: 100%;
    height: 22px;
    padding-right: 20px;
}

.sa-explorer-tool {
    background: #BCC7D8;
    width: 100%;
    height: 30px;
    padding-right: 20px;
}

.sa-explorer-panel {
    background: #F0F0F0;
    width: 100%;
    height: 84%;
    padding: 20px;
    padding-left: 0px;
}

.sa-explorer-content {
    background: #FFFFFF;
    height: 100%;
    width: 100%;
    border: 1px solid #828790;
    border-left: none;
    overflow: auto;
}

.sa-tabs {
    background: #293955;
    height: 100%;
    width: 78.5%;
    border: 3px solid #293955;
    position: absolute;
    top: 30px;
    right: 3px;
}

.sa-tabs-tab{
    height:100%;
    width:100%;
    position:absolute;
    top:0px;
    left:0px;
}

.sa-tabs-title {
    width: 90px;
    height: 23px;
    position: absolute;
    left: 0px;
    top: 0px;
    background: #ffffff;
    border: #ACACAC 1px solid;
    border-bottom: none;
}

.sa-tabs-panel {
    width: 100%;
    height: 91%;
    background: #ffffff;
    margin-top: 23px;
    border: #ACACAC 1px solid;
}

.sa-tree-ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.sa-tree-li {
    padding-left: 20px;
    height: 26px;
    cursor: pointer;
    line-height: 26px;
    color: #333;
}

.sa-tree-li-children{
    height: auto;
    margin-bottom:-26px;
}

.sa-tree-children {
    margin-left: 2px;
}

.sa-tree-li:hover {
    color: #999;
}

.sa-tree-li span {
    padding-left: 5px;
    font-size: 14px;
    font-style: normal;
}

.sa-datagrid {
    border: 1px solid #e2e2e2;
    width: 100%;
    height: 77%;
    margin: 0;
    background-color: #fff;
    line-height: 22px;
    border-collapse: collapse;
}

    .sa-datagrid thead tr {
        background-color: #f2f2f2;
    }

    .sa-datagrid th {
        padding: 9px 15px;
        min-height: 20px;
        line-height: 20px;
        border: 1px solid #e2e2e2;
        font-size: 14px;
        text-align: left;
    }

.sa-datagrid-content {
    overflow-y: scroll;
    height: 100%;
    margin: 0px;
}

.sa-datagrid-content-td {
    vertical-align: top;
    padding: 0px;
}

.sa-datagrid-content td {
    padding: 9px 15px;
    min-height: 20px;
    line-height: 20px;
    border: 1px solid #e2e2e2;
    font-size: 14px;
    text-align: left;
    height: 25%;
}

.sa-blockquote {
    margin-bottom: 0px;
    padding: 15px;
    line-height: 22px;
    border-left: 5px solid #009688;
    border-radius: 0 2px 2px 0;
    background-color: #f2f2f2;
    height: 15px;
}

.sa-pagination {
    display: inline-block;
    vertical-align: middle;
    margin: 10px 0;
    font-size: 0;
    float: right;
}

    .sa-pagination ul {
        padding: 0px;
        margin: 0px;
        list-style: none;
    }

        .sa-pagination ul li {
            float: left;
        }

    .sa-pagination a {
        display: inline-block;
        vertical-align: middle;
        padding: 0 15px;
        border: 1px solid #e2e2e2;
        height: 28px;
        line-height: 28px;
        margin: 0 -1px 5px 0;
        background-color: #fff;
        color: #333;
        font-size: 12px;
        text-decoration: none;
    }

.sa-pagination-active {
    left: -1px;
    top: -1px;
    padding: 1px;
    width: 100%;
    height: 100%;
    color: #fff !important;
    background-color: #009688 !important;
}

.sa-tool-icon {
    height: 20px;
    width: 20px;
    border-radius: 100%;
    background-size: 24px 24px !important;
    display: block;
    margin: -10px 10px 0 0px;
    padding: 0px;
    border: #666 1px solid;
    cursor: pointer;
}

.sa-tool-icon {
    float: left;
}

.sa-query {
    height:100%;
    width: 100%;
    position: absolute;
}

/*Common*/
.sa-mask {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: #000;
    opacity: 0.3;
    position: absolute;
    top: 0;
    left: 0px;
}

.sa-contextmenu {
    position: fixed;
    visibility: hidden;
    z-index:999;
    background-color:#fff;
    color:#000;
    border:#E5C365 1px solid;
}

.sa-contextmenu ul{
    list-style:none;
    margin:0px;
    padding:0px;
}

    .sa-contextmenu ul li {
        height: 30px;
        width: 185px;
    }

        .sa-contextmenu ul li .sa-contextmenu-title {
            padding-left: 10px;
            width: 147px;
            height: 28px;
            border: #ffffff 1px solid;
            float: right;
            border-left: none;
        }

        .sa-contextmenu ul li:hover .sa-contextmenu-title {
            background: #FFECB5;
            border: #E5C365 1px solid;
            float: right;
            border-left: none;
            width: 147px;
        }

        .sa-contextmenu ul li:hover .sa-contextmenu-i {
            background: #FFECB5;
            border: none;
            height: 18px;
            border: #E5C365 1px solid;
            border-right:  #FFECB5 1px solid;
        }

    .sa-contextmenu .sa-contextmenu-i {
        width: 25px;
        height: 18px;
        padding: 5px 0px;
        float: left;
        background: #F0F0F0;
        border: #F0F0F0 1px solid;
    }
