* {
    font-family: 'Segoe UI';
    margin: 0px;
}

body,html,document {
    background: #293955;
    overflow: hidden;
    height:100%;
}

.sa-clear {
    clear: both;
}

.sa-window {
    width: 420px;
    height: 315px;
    border: 1px solid #636363;
    -webkit-box-shadow: 1px 1px 2px;
    -moz-box-shadow: 1px 1px 2px;
    box-shadow: 1px 1px 2px;
    position: absolute;
    top: 10px;
    left: 200px;
    background: #fff;
    z-index: 888;
}

.sa-border {
    border: 10px solid #B6B6B6;
    border-top: 30px solid #B6B6B6;
    width: 400px;
    height: 275px;
}

.sa-content {
    border: 1px solid #636363;
    width: 400px;
    height: 275px;
}

.sa-title {
    width: 385px;
    height: 50px;
    background: #E0E0E0;
    font-size: 32px;
    vertical-align: central;
    padding-top: 20px;
    padding-left: 15px;
}

.sa-form {
    margin: auto;
    height: 157px;
    text-align: center;
}

    .sa-form div {
        margin: 8px;
    }

.sa-connect-input {
    width: 240px;
    height: 20px;
    border: 1px solid #ABABAB;
}

.sa-connect-footer {
    border-top: 3px #CFCFCF solid;
    height: 58px;
    align-content: center;
    text-align: center;
}

.sa-button {
    background: #065999;
    border: none;
    color: #fff;
    width: 78px;
    height: 24px;
    cursor: pointer;
    font-size: 12px;
    margin: 10px;
    margin-top: 8px;
}

.sa-menu {
    background: #F0F0F0;
    height: 30px;
    width: 100%;
}

.sa-menu-list {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.sa-menu-item {
    float: left;
    cursor: pointer;
    margin: 2px;
    margin-top: 4px;
    font-size: 14px;
    width: 50px;
    height: 22px;
    text-align: center;
    vertical-align: central;
    border: #F0F0F0 solid 1px;
}

.sa-menu-item-title {
    border: #F0F0F0 solid 1px;
    width: 50px;
    height: 22px;
}

    .sa-menu-item-title:hover {
        background: #1ea2e5;
        border: #065999 solid 1px;
    }

.sa-menu-item-select {
    border: 1px solid #828790;
    border-bottom: none;
}

.sa-menu-subs {
    background: #F0F0F0;
    position: absolute;
    top: 30px;
    left: 0px;
    z-index: 998;
    border: 1px solid #828790;
    border-top: none;
    list-style: none;
    padding: 0px;
    margin: 0px;
    padding: 8px;
}

.sa-menu-item-subs-icon {
    width: 16px;
    height: 16px;
    padding: 2px;
    border-right: #ABABAB 1px solid;
    float: left;
    padding-right: 6px;
}

.sa-menu-item-subs-title {
    float: left;
    margin-left: 8px;
    border: #F0F0F0 solid 1px;
}

    .sa-menu-item-subs-title:hover {
        background: #1ea2e5;
        border: #065999 solid 1px;
    }

.sa-explorer {
    width: 20%;
    height: 100%;
    border-left: none;
    padding-right: 20px;
    position: absolute;
    top: 33px;
    left: 0px;
    z-index: 666;
}

.sa-explorer-title {
    background: #FFF3CD;
    width: 100%;
    height: 22px;
    padding-right: 20px;
}

.sa-explorer-tool {
    background: #BCC7D8;
    width: 100%;
    height: 30px;
    padding-right: 20px;
}

.sa-explorer-panel {
    background: #F0F0F0;
    width: 100%;
    height: 84%;
    padding: 20px;
    padding-left: 0px;
}

.sa-explorer-content {
    background: #FFFFFF;
    height: 100%;
    width: 100%;
    border: 1px solid #828790;
    border-left: none;
    overflow: auto;
}

.sa-tabs {
    background: #293955;
    height: 100%;
    width: 78.5%;
    border: 3px solid #293955;
    position: absolute;
    top: 30px;
    right: 3px;
}

.sa-tabs-tab{
    height:100%;
    width:100%;
    position:absolute;
    top:0px;
    left:0px;
}

.sa-tabs-title {
    width: 210px;
    height: 23px;
    position: absolute;
    left: 0px;
    top: 0px;
    background: #F2F2F2;
    border: #ACACAC 1px solid;
    border-bottom: none;
    cursor: pointer;
    font-size: 8px;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.sa-tabs-panel {
    width: 100%;
    height: 91%;
    background: #ffffff;
    margin-top: 23px;
    border: #ACACAC 1px solid;
}

.sa-tabs-panel-include{
    height:100%;
    width:100%;
}

.sa-table-panel-iframe{
    border:none;
    width:100%;
    height:100%;
}

.sa-tree-ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
    background: #ffffff;
}

.sa-tree-li {
    padding-left: 20px;
    height: 26px;
    cursor: pointer;
    line-height: 26px;
    color: #333;
}

.sa-tree-li-children{
    height: auto;
    margin-bottom:-26px;
}

.sa-tree-children {
    margin-left: 2px;
}

.sa-tree-li:hover {
    color: #999;
}

.sa-tree-li span {
    padding-left: 5px;
    font-size: 14px;
    font-style: normal;
}

.sa-datagrid {
    border: 1px solid #e2e2e2;
    width: 100%;
    /*height: 77%;*/
    margin: 0;
    background-color: #fff;
    line-height: 22px;
    border-collapse: collapse;
    text-overflow:ellipsis;
    white-space:nowrap;
    z-index: 996;
}

    .sa-datagrid thead tr {
        background-color: #f2f2f2;
    }

    .sa-datagrid th {
        padding: 9px 15px;
        min-height: 20px;
        line-height: 20px;
        border: 1px solid #e2e2e2;
        font-size: 14px;
        text-align: left;
        z-index: 996;
        cursor:pointer;
    }

    .sa-datagrid tbody tr:hover {
        background: #f2f2f2;
    }

.sa-datagrid-content {
    overflow-y: scroll;
    overflow-x:auto;
    height: 77%;
    width:100%;
    margin: 0px;
    text-overflow:ellipsis;
    white-space:nowrap;
    z-index: 996;
}

.sa-datagrid-content-td {
    vertical-align: top;
    padding: 0px;
    z-index: 996;
}

.sa-datagrid-content td {
    padding: 9px 15px;
    min-height: 20px;
    line-height: 20px;
    border: 1px solid #e2e2e2;
    font-size: 14px;
    text-align: left;
    height: 25%;
    z-index: 996;
}

.sa-datagrid-content-header-icon{
    float:right;
    width:16px;
    height:16px;
}

    .sa-datagrid-content-header-icon img {
        width: 16px;
        height: 16px;
    }

    .sa-datagrid-content-sort-icon{
        float:right;
    }

.sa-blockquote {
    margin-bottom: 0px;
    padding: 15px;
    line-height: 22px;
    border-left: 5px solid #009688;
    border-radius: 0 2px 2px 0;
    background-color: #f2f2f2;
    height: 15px;
}

.sa-pagination {
    display: inline-block;
    vertical-align: middle;
    margin: 10px 0;
    font-size: 0;
    float: right;
}

    .sa-pagination ul {
        padding: 0px;
        margin: 0px;
        list-style: none;
    }

        .sa-pagination ul li {
            float: left;
        }

    .sa-pagination a {
        display: inline-block;
        vertical-align: middle;
        padding: 0 15px;
        border: 1px solid #e2e2e2;
        height: 28px;
        line-height: 28px;
        margin: 0 -1px 5px 0;
        background-color: #fff;
        color: #333;
        font-size: 12px;
        text-decoration: none;
    }

.sa-pagination-active {
    left: -1px;
    top: -1px;
    padding: 1px;
    width: 100%;
    height: 100%;
    color: #fff !important;
    background-color: #009688 !important;
}

.sa-tool-icon {
    height: 20px;
    width: 20px;
    border-radius: 100%;
    background-size: 24px 24px !important;
    display: block;
    margin: -10px 10px 0 0px;
    padding: 0px;
    border: #666 1px solid;
    cursor: pointer;
}

.sa-tool-icon {
    float: left;
}

.sa-query {
    height:100%;
    width: 100%;
    position: absolute;
}

/*Common*/
.sa-mask {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: #000;
    opacity: 0.3;
    position: absolute;
    top: 0;
    left: 0px;
}

.sa-contextmenu {
    position: fixed;
    visibility: hidden;
    z-index:999;
    background-color:#fff;
    color:#000;
    border:#E5C365 1px solid;
}

.sa-contextmenu ul{
    list-style:none;
    margin:0px;
    padding:0px;
}

    .sa-contextmenu ul li {
        height: 30px;
        width: 185px;
    }

        .sa-contextmenu ul li .sa-contextmenu-title {
            padding-left: 10px;
            width: 147px;
            height: 28px;
            border: #ffffff 1px solid;
            float: right;
            border-left: none;
        }

        .sa-contextmenu ul li:hover .sa-contextmenu-title {
            background: #FFECB5;
            border: #E5C365 1px solid;
            float: right;
            border-left: none;
            width: 147px;
        }

        .sa-contextmenu ul li:hover .sa-contextmenu-i {
            background: #FFECB5;
            border: none;
            height: 18px;
            border: #E5C365 1px solid;
            border-right:  #FFECB5 1px solid;
        }

    .sa-contextmenu .sa-contextmenu-i {
        width: 25px;
        height: 18px;
        padding: 5px 0px;
        float: left;
        background: #F0F0F0;
        border: #F0F0F0 1px solid;
    }

.sa-contextmenu-sub {
    margin-left: 185px;
}

.sa-contextmenu ul li:hover .sa-contextmenu-sub {
    visibility: visible;
}

.sa-contextmenu ul li:hover .sa-contextmenu-title-sub {
    background: #fff !important;
    border: #ffffff 1px solid !important;
    border-left: none !important;
}

.sa-contextmenu ul li:hover .sa-contextmenu-i-sub {
    background: #F0F0F0 !important;
    border: #F0F0F0 1px solid !important;
}

.sa-contextmenu-sub ul li:hover .sa-contextmenu-title {
    background: #FFECB5 !important;
    border: #E5C365 1px solid !important;
    float: right !important;
    border-left: none !important;
    width: 147px !important;
}

.sa-contextmenu-sub ul li:hover .sa-contextmenu-i {
    background: #FFECB5 !important;
    border: none !important;
    height: 18px !important;
    border: #E5C365 1px solid !important;
    border-right: #FFECB5 1px solid !important;
}

.sa-search{
    width: 315px;
    padding: 0px;
    border: 2px solid #009688;
    border-radius: 0px;
    height:30px;
    float:right;
    margin:0px;
    vertical-align:central;
    margin-top:-6px;
}

.sa-search-input{
    float:left;
    height:27px;
    border:none;
    font-size: 14px;
    margin: 0;
    display: table-cell;
    position: relative;
    float: left;
    width: 100%;
    border-radius: 0;
    width:215px;
    outline:none;
}

.sa-search-button {
    float: right;
    margin: 0px;
    height: 30px;
    color: #ffffff;
    background-color: #009688;
    border: 1px solid #009688;
    width:50px;
}

.sa-search-select{
    float:left;
    height:30px;
    width:50px;
    border:none;
    outline:none;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    color: #333;
    text-align: center;
    display: table-cell;
    white-space: nowrap;
    vertical-align: middle;
}

.sa-multiselect{
    width:190px;
    height:30px;
    float:right;
    z-index:997;
}

.sa-multiselect-text{
    border: 2px solid #009688;
    background-color: #fff;
    padding-left: 10px;
    text-rendering: auto;
    color: initial;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    text-align: start;
    font: 13.3333px Arial;
    height:30px;
    font-family: inherit;
    font-size: inherit;
    font-style: inherit;
    font-weight: inherit;
    outline: 0;
    height:28px;
    margin-top:-6px;
    cursor:pointer;
    margin-left:10px;
}

.sa-multiselect-field{
    width:96%;
    max-height:300px;
    border: 2px solid #009688;
    background:#fff;
    z-index:997;
    margin-left:10px;
    margin-top:5px;
    position:relative;
}

.sa-multiselect-field ul{
    margin:0px;
    padding:0px;
    list-style:none;
        overflow-y:auto;
        max-height:260px;
}

.sa-multiselect-button{
    width:100%;
}

.sa-multiselect-button button{
    float:left;
    width:70px;
}

.sa-multiselect-field ul li{
    z-index:997;
    padding: 0 10px;
    line-height: 36px;
}

.sa-multiselect-field ul li:hover{
    background:#009688;
}

.sa-multiselect-field ul li span{
    margin-left:5px;
    cursor:pointer
}

.sa-calendar{
    width:182px;
}

.sa-calendar-text {
    border-radius: 2px 0px 0px 2px;
    display: block;
    width:150px;
    height:30px;
    padding-left: 10px;
    border: 1px solid #e6e6e6;
    background-color: #fff;
    outline: 0;
    -webkit-transition: border-color .3s cubic-bezier(.65,.05,.35,.5);
    transition: border-color .3s cubic-bezier(.65,.05,.35,.5);
    -webkit-box-sizing: border-box !important;
    -moz-box-sizing: border-box !important;
    box-sizing: border-box !important;
    float:left;
}

.sa-calendar-icon{
   width:32px;
   height:30px;
    border: 1px solid #e6e6e6;
    border-radius: 0px 2px 2px 0px;
    text-align: center;
    background-color: #FBFBFB;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    -webkit-box-sizing: border-box!important;
    -moz-box-sizing: border-box!important;
    box-sizing: border-box!important;
    cursor:pointer;
    float:right;
}

.sa-calendar-icon img{
    width:16px;
    height:16px;
   vertical-align:central;
   margin-top:7px;
}

.sa-calendar-select {
    width: 240px;
    height: 224px;
    -webkit-box-sizing: border-box !important;
    -moz-box-sizing: border-box !important;
    box-sizing: border-box !important;
    border-radius: 2px 2px 2px 2px;
    border: 1px solid #e6e6e6;
    position: absolute;
    margin-top: 40px;
    float: left;
    z-index:996;
}

.sa-calendar-select-title{
    width:100%;
    height:26px;
    background:#FBFBFB;
    border-bottom: 1px solid #e6e6e6;
}

.sa-calendar-select-context {
    width: 220px;
    height: 154px;
    margin-top: 6px;
    vertical-align: central;
    margin-left: 8px;
    border-radius: 2px 2px 2px 2px;
    border: 1px solid #e6e6e6;
    font-weight: 400;
    font-size: 12px;
    text-align: center;
}

.sa-calendar-select-fields{
    width:100%;
    height:22px;
    border-bottom:1px solid #e6e6e6;
    background:#FBFBFB;
}

.sa-calendar-select-fields ul {
    margin:0px;
    padding:0px;
    width:100%;
    height:100%;
    list-style:none;
}

.sa-calendar-select-fields ul li{
    float:left;
    width:31.2px;
    vertical-align:central;
    text-align:center;
    padding-top:2px;
}

.sa-calendar-select-context table{
     border-collapse: collapse;
    text-overflow:ellipsis;
    white-space:nowrap;
    border:none;
    width:220px;
    margin-top:5px;
        position:relative;
}

.sa-calendar-select-context table tr{
     border:none;
     padding:0px;
     margin:0px;
}

.sa-calendar-select-context table tr:hover{
    background:#fff;
}

.sa-calendar-select-context table tr td{
     border:none;
    padding:0px;
    margin:0px;
    text-align:center;
    padding:2.5px;
    border: 1px solid #fff;
    cursor:pointer;
}

.sa-calendar-select-context table tr td:hover{
            background:#FBFBFB;
    border: 1px solid #e6e6e6;
}

.sa-calendar-select-footer{
    width:100%;
    height:26px;
    background:#FBFBFB;
    border-top: 1px solid #e6e6e6;
    margin-top:6px;
}