<link href="~/Static/css/cpuinfo.css" rel="stylesheet" />

<div ng-controller="report.controller" ng-init="vm.pageId = @ViewBag.DefaultPageId">
    <div class="cpuinfo-nav">
        <ul>
            <li><button class="sui-button">CPU 使用率</button></li>
            <li><button class="sui-button">CPU 异常</button></li>
        </ul>
        <div class="sui-clear"></div>
    </div>
    <div>
        <sui-bars points="vm.connected.connectedSummary" xaxis="vm.connected.xaxis"></sui-bars>
        <div style="height:400px;">
            <sui-datagrid datas="vm.connected.connecteddatas" fields="vm.connected.fields"></sui-datagrid>
        </div>
    </div>
</div>
