<link href="~/Static/css/cpuinfo.css" rel="stylesheet" />

<div ng-controller="report.controller">
    <div class="cpuinfo-nav">
        <ul>
            <li><button class="sa-button">CPU 使用率</button></li>
            <li><button class="sa-button">CPU 异常</button></li>
        </ul>
        <div class="sa-clear"></div>
    </div>
    <div>
        <sa-bars points="vm.connected.connectedSummary" xaxis="vm.connected.xaxis"></sa-bars>
        <div style="height:400px;">
            <sa-datagrid datas="vm.connected.connecteddatas" fields="vm.connected.fields"></sa-datagrid>
        </div>
    </div>
</div>
