<link href="~/Static/css/cpuinfo.css" rel="stylesheet" />

<div ng-controller="report.controller" ng-init="vm.pageId = @ViewBag.DefaultPageId">
    <div class="cpuinfo-nav">
        <ul>
            <li><button class="sa-button">CPU 使用率</button></li>
            <li><button class="sa-button">CPU 异常</button></li>
        </ul>
        <div class="sa-clear"></div>
    </div>
    <div>
        <sa-lines points="vm.cpu.cpuinfos" xaxis="vm.cpu.xaxis"></sa-lines>
        <div style="height:400px;">
            <sa-datagrid datas="vm.cpu.cpudatas" fields="vm.cpu.fields"></sa-datagrid>
        </div>
    </div>
</div>