<link href="~/Static/css/cpuinfo.css" rel="stylesheet" />

<div ng-controller="report.controller">
        <sa-datagrid datas="vm.exception.exceptiondatas" fields="vm.exception.fields"></sa-datagrid>
</div>

