<link href="~/Static/css/sa.report.style.css" rel="stylesheet" />

<div ng-controller="report.controller" ng-init="vm.pageId = @ViewBag.DefaultPageId">
    <div class="cpuinfo-nav">
        <ul>
            <li><button class="sa-button">磁盘使用率</button></li>
            @*<li><button class="sa-button">CPU 异常</button></li>*@
        </ul>
        <div class="sa-clear"></div>
    </div>
    <div ng-if="vm.pageId == 31">
        <ul>
            <li ng-repeat="info in vm.disk.disks"><sa-pie points="info.diskinfos" _width="200px" _height="200px"></sa-pie></li>
        </ul>
        @*<div style="height:400px;">
            <sa-datagrid datas="vm.cpu.cpudatas" fields="vm.cpu.fields"></sa-datagrid>
        </div>*@
    </div>
</div>
