<link href="~/Static/css/sui.report.style.css" rel="stylesheet" />

<div ng-controller="report.controller" ng-init="vm.pageId = @ViewBag.DefaultPageId">
    <div class="cpuinfo-nav">
        <ul>
            <li><button class="sui-button">CPU 使用率</button></li>
            @*<li><button class="sui-button">CPU 异常</button></li>*@
        </ul>
        <div class="sui-clear"></div>
    </div>
    <div>
        <sui-lines points="vm.memory.memoryinfos" xaxis="vm.memory.xaxis"></sui-lines>
        <div style="height:400px;">
            <sui-datagrid datas="vm.memory.memorydatas" fields="vm.memory.fields"></sui-datagrid>
        </div>
    </div>
</div>

