<div ng-controller="report.controller">
    <sa-lines points="vm.cpuinfos" xaxis="vm.xaxis"></sa-lines>
    <div style="height:420px;">
        <sa-datagrid datas="vm.cpudatas" fields="vm.fields"></sa-datagrid>
    </div>
</div>

