<link href="~/Static/css/sui.report.style.css" rel="stylesheet" />
<div ng-controller="report.controller" ng-init="vm.pageId = @ViewBag.DefaultPageId" class="query-panel">
    <div class="cpuinfo-nav">
        <ul>
            <li><button class="sui-button" ng-click="vm.switchTo(61)">全部查询</button></li>
            <li><button class="sui-button" ng-click="vm.switchTo(62)">查询比例</button></li>
            <li><button class="sui-button" ng-click="vm.switchTo(63)">表查询比例</button></li>
        </ul>
        <div class="sui-clear"></div>
    </div>
    <div ng-if="vm.pageId == 61" class="query-panel-all">
        <sui-datagrid datas="vm.query.historydatas" fields="vm.query.fields"></sui-datagrid>
        <sui-pagination page="vm.query.page" pageNumber="10" click="vm.query.jump(pageIndex)"></sui-pagination>
    </div>
    <div ng-if="vm.pageId == 62">
        <sui-bars points="vm.query.queryProportionInfo" fields="vm.query.xaxis"></sui-bars>
    </div>
    <div ng-if="vm.pageId == 63">
        <sui-bars></sui-bars>
        <sui-datagrid datas="vm.query.historydatas" fields="vm.query.fields"></sui-datagrid>
    </div>
</div>

