<div ng-controller="about.controller">
    <sa-about icon="vm.icon" name="vm.name">
        <span>SQLAdmin 1.0.0 <a href="https://www.giuhub.com/liguifa/sqladmin">GIT 仓库</a></span>
    </sa-about>
</div>