<div ng-controller="about.controller">
    <sa-about icon="vm.icon" name="vm.name">
        <span>SQLAdmin 1.0.0 <a href="https://mit-license.org/" target="_blank">MIT license</a></span>
    </sa-about>
</div>