@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div ng-controller="gui.common.controller" ontext-menu  data-target="menu">
    <div>
        <sui-nav select="vm.select(menu)" navs="vm.menus" icon="'/Static/Images/logo.png'"></sui-nav>
        <sa-layout>
            <div class="sa-layout-body-explorer"  ng-include src="'/Common/Explorer'" >
            </div>
            <div ng-controller="manage.controller" class="sa-layout-body-manage" >
                <sui-tabs pages="vm.pages">
                </sui-tabs>
            </div>
        </sa-layout>
        <div>
            <sui-footer>
                <span>&copy;@DateTime.Now.Year SQLAdmin <a href="https://www.giuhub.com/liguifa/sqladmin" target="_blank">GIT 仓库</a></span>
            </sui-footer>
        </div>
    </div>
    <div ng-include src="vm.window"></div>
</div>
<link href="~/Static/ShinyUI/css/sui.icon.css" rel="stylesheet" />
<link href="~/Static/css/layout.css" rel="stylesheet" />
@section Script{
    <script src="~/Static/ShinyUI/script/common/constant.service.js"></script>
    <script src="~/Static/script/services/common.service.js"></script>
    <script src="~/Static/script/services/database.service.js"></script>
    <script src="~/Static/script/controller/gui.common.controller.js"></script>
    <script src="~/Static/script/controller/database.controller.js"></script>
    <script src="~/Static/ShinyUI/script/lib/base64.min.js"></script>
    <script src="~/Static/ShinyUI/script/common/cryptogram.service.js"></script>
    <script src="~/Static/script/controller/about.controller.js"></script>
    <script src="~/Static/script/services/connect.service.js"></script>
    <script src="~/Static/script/controller/connect.controller.js"></script>
    <script src="~/Static/script/services/manage.service.js"></script>
    <script src="~/Static/script/controller/manage.controller.js"></script>
    <script src="~/Static/script/services/query.service.js"></script>
    <script src="~/Static/script/controller/query.controller.js"></script>
    <script src="~/Static/script/services/report.service.js"></script>
    <script src="~/Static/script/controller/report.controller.js"></script>
    <script src="~/Static/script/services/monitor.service.js"></script>
    <script src="~/Static/script/controller/monitor.controller.js"></script>
    <script src="~/Static/script/directive/layout.directive.js"></script>
}