
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div ng-controller="gui.common.controller" ontext-menu  data-target="menu">
    <div>
        <sa-menu select="vm.select(menu)" menus="vm.menus"></sa-menu>
        <div>
            <sa-explorer>
                <sa-tree tree="vm.database" doubleclick="vm.getTables(tree)">
                    <sa-contextmenu contextmenu-type='table' class='sa-contextmenu'>
                        <ul>
                            <li><div class='sa-contextmenu-i'></div><div class='sa-contextmenu-title'>新建查询</div></li>
                            <li><div class='sa-contextmenu-i'></div><div class='sa-contextmenu-title'>新建数据库</div></li>
                            <li><div class='sa-contextmenu-i'></div><div class='sa-contextmenu-title'>重命名</div></li>
                            <li><div class='sa-contextmenu-i'></div><div class='sa-contextmenu-title'>删除</div></li>
                            <li><div class='sa-contextmenu-i'></div><div class='sa-contextmenu-title'>刷新</div></li>
                            <li><div class='sa-contextmenu-i'></div><div class='sa-contextmenu-title'>属性</div></li>
                        </ul>
                    </sa-contextmenu>
                    <sa-contextmenu contextmenu-type='database' class='sa-contextmenu'>
                        <ul>
                            <li><div class='sa-contextmenu-i'></div><div class='sa-contextmenu-title'>新建查询</div></li>
                            <li><div class='sa-contextmenu-i'></div><div class='sa-contextmenu-title'>新建数据库</div></li>
                            <li><div class='sa-contextmenu-i'></div><div class='sa-contextmenu-title'>重命名</div></li>
                            <li><div class='sa-contextmenu-i'></div><div class='sa-contextmenu-title'>删除</div></li>
                            <li><div class='sa-contextmenu-i'></div><div class='sa-contextmenu-title'>刷新</div></li>
                            <li><div class='sa-contextmenu-i'></div><div class='sa-contextmenu-title'>属性</div></li>
                        </ul>
                    </sa-contextmenu>
                </sa-tree>
            </sa-explorer>
            <sa-tabs>
                <div data-view-id="123">@Html.Action("Query", "Manage")</div>
            </sa-tabs>
        </div>
    </div>
    <div ng-include src="vm.window"></div>
</div>
<link href="~/Static/css/sa.icon.css" rel="stylesheet" />
<script src="~/Static/script/controller/gui.common.controller.js"></script>
<script src="~/Static/script/lib/base64.min.js"></script>
<script src="~/Static/script/common/cryptogram.service.js"></script>
<script src="~/Static/script/services/connect.service.js"></script>
<script src="~/Static/script/controller/connect.controller.js"></script>
