
@{
    ViewBag.Title = "Index";
}
<div ng-controller="gui.common.controller">
    <div>
        <sa-menu select="vm.select(menu)" menus="vm.menus"></sa-menu>
        <div>
            <sa-explorer></sa-explorer>
            <sa-tabs></sa-tabs>
        </div>
    </div>
    <div ng-include src="vm.window"></div>
</div>
<script src="~/Static/script/controller/gui.common.controller.js"></script>
<script src="~/Static/script/lib/base64.min.js"></script>
<script src="~/Static/script/common/cryptogram.service.js"></script>
<script src="~/Static/script/services/connect.service.js"></script>
<script src="~/Static/script/controller/connect.controller.js"></script>
