.demo-block{
    margin-bottom: 10px;
}

.demo-code{
    display: block;
    margin: 12px 0;
    padding: 12px 20px;
    background: #292b36;
    border: none;
    border-radius: 8px;
    color: #ffffff;
    overflow: auto;
    font-family: "Source Code Pro";
    font-size: 14px;
    white-space: pre;
}