<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SQLAdmin</title>
    <link href="~/Static/css/sa.style.css" rel="stylesheet" />
    <link href="~/Static/css/messager.css" rel="stylesheet" />
</head>
<body ng-app="admin">
    @RenderBody()
</body>
</html>
<script src="~/Static/ShinyUI/lib/angular.min.js"></script>
<script src="~/Static/ShinyUI/lib/flotr2.min.js"></script>
<script src="~/Static/ShinyUI/directive/sa.report.directive.js"></script>
<script src="~/Static/ShinyUI/directive/sa.directive.js"></script>
<script src="~/Static/ShinyUI/common/messager.service.js"></script>
<script src="~/Static/ShinyUI/common/event.service.js"></script>
<script src="~/Static/ShinyUI/common/session.service.js"></script>
<script src="~/Static/ShinyUI/common/grid.service.js"></script>
<script src="~/Static/script/services/wrapper.service.js"></script>
<script src="~/Static/script/app.js"></script>
@RenderSection("Script")