<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SQLAdmin</title>
    <link href="~/Static/css/sa.style.css" rel="stylesheet" />
    <script src="~/Static/script/angular.min.js"></script>
    <script src="~/Static/script/directive/sa.directive.js"></script>
</head>
<body ng-app="admin">
    @RenderBody()
</body>
</html>