<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SQLAdmin</title>
    <link href="~/Static/ShinyUI/css/sui.default.css" rel="stylesheet" />
    <link href="~/Static/ShinyUI/css/sui.pop.style.css" rel="stylesheet" />
    <link href="~/Static/ShinyUI/css/prism.css" rel="stylesheet" />
    <link href="~/Static/css/style.css" rel="stylesheet" />
    <link href="~/Static/ShinyUI/css/sui.icon.css" rel="stylesheet" />
</head>
<body ng-app="admin">
    @RenderBody()
</body>
</html>
<script src="~/Static/ShinyUI/script/lib/angular.min.js"></script>
<script src="~/Static/ShinyUI/script/lib/flotr2.min.js"></script>
<script src="~/Static/ShinyUI/script/directive/sui.report.directive.js"></script>
<script src="~/Static/ShinyUI/script/directive/sui.directive.js"></script>
<script src="~/Static/ShinyUI/script/common/pop.service.js"></script>
<script src="~/Static/ShinyUI/script/common/event.service.js"></script>
<script src="~/Static/ShinyUI/script/common/session.service.js"></script>
<script src="~/Static/ShinyUI/script/common/guid.service.js"></script>
<script src="~/Static/ShinyUI/script/common/wrapper.service.js"></script>
<script src="~/Static/ShinyUI/script/lib/prism.js"></script>
<script src="~/Static/ShinyUI/script/directive/sui.icon.directive.js"></script>
<script src="~/Static/ShinyUI/script/common/sui.icon.js"></script>
<script src="~/Static/script/app.js"></script>
@RenderSection("Script")