
@{
    ViewBag.Title = "Connect";
}

<div id="win" class="easyui-window" title="连接数据库"
     data-options="iconCls:'icon-save',modal:true,collapsible:false,minimizable:false,maximizable:false,closable:false,width:500,height:288">
    Window Content
</div>  