/*---------------------------------------------------------*/

.cpuinfo-nav {
    border-bottom: 1px solid #808080;
}

    .cpuinfo-nav ul {
        list-style: none;
        padding: 0px;
        margin: 0px;
    }

        .cpuinfo-nav ul li {
            float: left;
        }

.query-panel {
    height:90%;
}

.query-panel-all{
    height:100%;
}

.query-panel-all .sa-datagrid-content {
    height:100%;
}

.report-disk-info ul{
    list-style:none;
    margin:0px;
}

.report-disk-info-pie{
    height:450px;
    overflow-x:scroll;
    overflow-y:hidden;
    width:300%;
    text-align:center;
    vertical-align:central;
    padding:25px;
}

.report-disk-info ul li{
    float:left;
    margin-right:10px;
}

/*---------------------------------------------------------*/

.sui-report{
    border:1px solid #D9D9D9;
    padding:18px;
}

.sui-report-histogram{
    
}

.sui-report-histogram-y{
    stroke:#D9D9D9;
    stroke-width:1
}

.sui-report-histogram-x{
    stroke:#D9D9D9;
    stroke-width:1
}

.sui-report-histogram-dot{
    stroke:#D9D9D9;
    stroke-width:1
}

.sui-report-histogram-item{
    fill:#4472C4;
    stroke-width:1;
    stroke:#ffffff;
}

.sui-report-histogram-item:hover{
    fill:#5FB554;
}

.sui-report-histogram-text{
    fill: #000000;
    font-size: 12px;
}

.sui-report-fan{
    padding:0px;
    border: none;
}

.sui-report-fan-path{
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0); 
    opacity: 1; 
    fill-opacity: 1;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

.sui-report-fan-path:hover{
    fill-opacity: 0.9;
    opacity: 0.9;
}

.sui-report-weight{
    font-size:42px;
    text-anchor:middle;
}

.sui-report-weight-title{
    fill:rgb(102, 102, 102);
    text-anchor:middle;
}

.sui-report-radar{
    border-radius: 50%;
    background: #000000;
}