.sui-icon-folder {
    background: url(../Images/icon_folder.png);
    background-size: 16px 16px;
    background-position: center;
    background-repeat: no-repeat;
    padding: 8px;
}

.sui-icon-arrow-right {
    background: url(../Images/icon_arrow-right.png);
    background-size: 16px 16px;
    background-position: center;
    background-repeat: no-repeat;
    padding: 8px;
}

.sui-icon-arrow-buttom {
    background: url(../Images/icon_arrow_buttom.png);
    background-size: 16px 16px;
    background-position: center;
    background-repeat: no-repeat;
    padding: 8px;
}

.sui-icon-remove {
    background: url(../Images/icon_remove.png);
    background-size: 16px 16px;
    background-position: center;
    background-repeat: no-repeat;
    padding: 8px;
}

.sui-icon-add {
    background: url(../Images/icon_add.png);
    background-size: 16px 16px;
    background-position: center;
    background-repeat: no-repeat;
    padding: 8px;
}

.sui-icon-edit {
    background: url(../Images/icon_edit.png);
    background-size: 16px 16px;
    background-position: center;
    background-repeat: no-repeat;
    padding: 8px;
}

.sui-icon-loading {
    background: url(../Images/icon_loading.png);
    background-size: 16px 16px;
    background-position: center;
    background-repeat: no-repeat;
    padding: 8px;
}

.sui-icon-sort-asc {
    background: url(../Images/icon_sort_asc.png);
    background-size: 16px 16px;
    background-position: center;
    background-repeat: no-repeat;
    padding: 8px;
}

.sui-icon-sort-desc {
    background: url(../Images/icon_sort_desc.png);
    background-size: 16px 16px;
    background-position: center;
    background-repeat: no-repeat;
    padding: 8px;
}

.sui-icon-save{
    background: url(../Images/icon_save.png);
    background-size: 16px 16px;
    background-position: center;
    background-repeat: no-repeat;
    padding: 8px;
}

.sui-icon-top {
    background: url(../Images/icon_top.png);
    background-size: 16px 16px;
    background-position: center;
    background-repeat: no-repeat;
    padding: 8px;
}

.sui-icon-bottom {
    background: url(../Images/icon_bottom.png);
    background-size: 16px 16px;
    background-position: center;
    background-repeat: no-repeat;
    padding: 8px;
}

.sui-icon-left {
    background: url(../Images/icon_left.png);
    background-size: 16px 16px;
    background-position: center;
    background-repeat: no-repeat;
    padding: 8px;
}

.sui-icon-right {
    background: url(../Images/icon_right.png);
    background-size: 16px 16px;
    background-position: center;
    background-repeat: no-repeat;
    padding: 8px;
}

.sui-icon-connect {
    background:url(../Images/new_connect.png);
    background-size:16px 16px;
    background-position:center;
    background-repeat:no-repeat;
    padding:8px;
}

.sui-icon-unconnect {
    background:url(../Images/un_connect.png);
    background-size:16px 16px;
    background-position:center;
    background-repeat:no-repeat;
    padding:8px;
}

.sui-icon-refresh {
    background:url(../Images/icon_refresh.png);
    background-size:16px 16px;
    background-position:center;
    background-repeat:no-repeat;
    padding:8px;
}

.sui-icon-pool {
    background:url(../Images/icon_pool.png);
    background-size:16px 16px;
    background-position:center;
    background-repeat:no-repeat;
    padding:8px;
}

.sui-icon-exec {
    background:url(../Images/icon_exec.png);
    background-size:16px 16px;
    background-position:center;
    background-repeat:no-repeat;
    padding:8px;
}

.sui-icon-fold-bottom {
    background:url(../Images/icon_fold_bottom.png);
    background-size:16px 16px;
    background-position:center;
    background-repeat:no-repeat;
    padding:8px;
}

.sui-icon-fold-top {
    background:url(../Images/icon_fold_top.png);
    background-size:16px 16px;
    background-position:center;
    background-repeat:no-repeat;
    padding:8px;
}

@font-face {
    font-family: 'fontello';
    src:url('../font/fontello.eot?69942587');
    src:url('../font/fontello.eot?69942587#iefix') format('embedded-opentype'),
        url('../font/fontello.woff?69942587') format('woff'),
        url('../font/fontello.ttf?69942587') format('truetype'),
        url('../font/fontello.svg?69942587#fontello') format('svg');
    font-weight: normal;
    font-style: normal;
}
     
     
.sui-icon{
    font-family: "fontello";
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    speak: none;
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    /* opacity: .8; */
    /* For safety - reset parent styles, that can break glyph codes*/
    font-variant: normal;
    text-transform: none;
    /* fix buttons height, for twitter bootstrap */
    line-height: 1em;
    /* Animation center compensation - margins should be symmetric */
    /* remove if not needed */
    margin-left: .2em;
    /* You can be more comfortable with increased icons size */
    /* font-size: 120%; */
    /* Font smoothing. That was taken from TWBS */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /* Uncomment for 3D effect */
    /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
    cursor: pointer;
}