@keyframes topAnimation {
    from {
        top: -170px;
    }

    to {
        top: 200px;
    }
}

.messager-alert {
    margin: 0;
    padding: 0;
    background-color: #fff;
    box-shadow: 1px 1px 50px rgba(0,0,0,.3);
    z-index: 998;
    left: 538px;
    width: 530px;
	height: 260px;
    position: fixed;
    /*animation: topAnimation 1s;*/
}

.messager-alert-title {
    background: #fff;
    color: #535e66;
    border: none;
    padding: 0 20px 0 20px;
    height: 59px;
    line-height: 59px;
    border-bottom: 1px solid #eef0f1;
    font-size: 14px;
    overflow: hidden;
    border-radius: 2px 2px 0 0;
    width: 100%;
    /*box-shadow: 1px 1px 50px rgba(0,0,0,.3);*/
}

.messager-alert-content {
    line-height: 24px;
    word-break: break-all;
    overflow: hidden;
    font-size: 14px;
    width: 100%;
    background: #ffffff;
    padding: 0 20px 0 20px;
    height: 120px;
    /*box-shadow: 1px 1px 50px rgba(0,0,0,.3);*/
}

.messager-alert-content .sui-icon{
	font-weight: bold;
	font-size: 48px;
	line-height: 48px;
	margin: 4px 20px;
	margin-left: -40px;
	margin-right: 40px;
}

.messager-alert-error .sui-icon{
	color: #E74C3C;
}

.messager-alert-warn .sui-icon{
	color: #EEC20F;
}

.messager-alert-info .sui-icon{
	color: #0095D9;
}

.messager-alert-success .sui-icon{
	color: #1ABC9C;
}

.messager-alert-error {
    animation: none;
    left: 538px;
    top: 400px;
}

.messager-alert-title{
    background-color:#fff;
}

.messager-alert-content{
    /*background:url(/Static/Images/icon_error.png) no-repeat;*/
    background-position:20px 18px;
    padding:20px 20px 0px 20px;
    padding-top:20px;
    overflow-y:auto;
    text-indent:2em;
}

.message-alert-tool {
    padding: 10px 20px 0px 20px;
    background: #ffffff;
    height: 60px;
    width: 100%;
	border-top:1px solid #eef0f1;
	padding: 0px 20px;
}

    .message-alert-tool button {
        margin: 10px;
        margin-top: 12px;
        float: right;
    }

.messager-model{
    position:fixed;
    top:0px;
    left:0px;
    width:100%;
    height:100%;
    background:#000000;
    opacity:0.4;
    z-index:999;
}

/*.messager-loading{
    position:fixed;
    background: url(../Images/icon_loading.gif);
    background-size: 128px 128px;
    background-position: center;
    background-repeat: no-repeat;
    width:128px;
    height:128px;
}*/

.messager-loading {
    position: fixed;
    width: 78px;
    height: 78px;
    margin: auto;
}

.messager-loading .wBall {
	position: absolute;
	width: 78px;
	height: 78px;
	opacity: 0;
	transform: rotate(225deg);
		-o-transform: rotate(225deg);
		-ms-transform: rotate(225deg);
		-webkit-transform: rotate(225deg);
		-moz-transform: rotate(225deg);
	animation: orbit 6.96s infinite;
		-o-animation: orbit 6.96s infinite;
		-ms-animation: orbit 6.96s infinite;
		-webkit-animation: orbit 6.96s infinite;
		-moz-animation: orbit 6.96s infinite;
}

.messager-loading .wBall .wInnerBall{
	position: absolute;
	width: 10px;
	height: 10px;
	background: #000000;
	border-radius: 10px;
}

.messager-loading #wBall_1 {
	animation-delay: 1.52s;
		-o-animation-delay: 1.52s;
		-ms-animation-delay: 1.52s;
		-webkit-animation-delay: 1.52s;
		-moz-animation-delay: 1.52s;
}

.messager-loading #wBall_2 {
	animation-delay: 0.3s;
		-o-animation-delay: 0.3s;
		-ms-animation-delay: 0.3s;
		-webkit-animation-delay: 0.3s;
		-moz-animation-delay: 0.3s;
}

.messager-loading #wBall_3 {
	animation-delay: 0.61s;
		-o-animation-delay: 0.61s;
		-ms-animation-delay: 0.61s;
		-webkit-animation-delay: 0.61s;
		-moz-animation-delay: 0.61s;
}

.messager-loading #wBall_4 {
	animation-delay: 0.91s;
		-o-animation-delay: 0.91s;
		-ms-animation-delay: 0.91s;
		-webkit-animation-delay: 0.91s;
		-moz-animation-delay: 0.91s;
}

.messager-loading #wBall_5 {
	animation-delay: 1.22s;
		-o-animation-delay: 1.22s;
		-ms-animation-delay: 1.22s;
		-webkit-animation-delay: 1.22s;
		-moz-animation-delay: 1.22s;
}

.messager-notify{
	    padding: 16px;
    border-radius: 4px;
    box-shadow: 0 2px 8px rgba(0,0,0,.2);
    background: #fff;
    line-height: 1.5;
    position: fixed;
    margin-bottom: 10px;
    overflow: hidden;
	width: 303px;
	height: 76px;
	padding: 16px;
	text-overflow:ellipsis;
}

.messager-notify-title{
	    font-size: 14px;
    color: rgba(0,0,0,.85);
    margin-bottom: 4px;
    line-height: 20px;
    display: inline-block;
	height: 20px;
}

.messager-notify-content{
	color: #666;
	font-size: 12px;
	text-overflow:ellipsis;
	height: 56px;
	overflow:hidden
}

.messager-global-alert{
	position: fixed;
	background: #ffffff;
	border:1px solid #e2e2e2;
	font-size: 12px;
	padding: 10px 20px 5px 20px;
	line-height: 14px;
	border-radius: 7px;
}

.messager-global-alert span{
	line-height: 14px;
	display: block;
	height: 14px;
	font-family: Helvetica Neue,Helvetica,PingFang SC,Hiragino Sans GB,Microsoft YaHei,SimSun,sans-serif;
    color: #666;
}

@keyframes orbit {
	0% {
		opacity: 1;
		z-index:99;
		transform: rotate(180deg);
		animation-timing-function: ease-out;
	}

	7% {
		opacity: 1;
		transform: rotate(300deg);
		animation-timing-function: linear;
		origin:0%;
	}

	30% {
		opacity: 1;
		transform:rotate(410deg);
		animation-timing-function: ease-in-out;
		origin:7%;
	}

	39% {
		opacity: 1;
		transform: rotate(645deg);
		animation-timing-function: linear;
		origin:30%;
	}

	70% {
		opacity: 1;
		transform: rotate(770deg);
		animation-timing-function: ease-out;
		origin:39%;
	}

	75% {
		opacity: 1;
		transform: rotate(900deg);
		animation-timing-function: ease-out;
		origin:70%;
	}

	76% {
	opacity: 0;
		transform:rotate(900deg);
	}

	100% {
	opacity: 0;
		transform: rotate(900deg);
	}
}

@-o-keyframes orbit {
	0% {
		opacity: 1;
		z-index:99;
		-o-transform: rotate(180deg);
		-o-animation-timing-function: ease-out;
	}

	7% {
		opacity: 1;
		-o-transform: rotate(300deg);
		-o-animation-timing-function: linear;
		-o-origin:0%;
	}

	30% {
		opacity: 1;
		-o-transform:rotate(410deg);
		-o-animation-timing-function: ease-in-out;
		-o-origin:7%;
	}

	39% {
		opacity: 1;
		-o-transform: rotate(645deg);
		-o-animation-timing-function: linear;
		-o-origin:30%;
	}

	70% {
		opacity: 1;
		-o-transform: rotate(770deg);
		-o-animation-timing-function: ease-out;
		-o-origin:39%;
	}

	75% {
		opacity: 1;
		-o-transform: rotate(900deg);
		-o-animation-timing-function: ease-out;
		-o-origin:70%;
	}

	76% {
	opacity: 0;
		-o-transform:rotate(900deg);
	}

	100% {
	opacity: 0;
		-o-transform: rotate(900deg);
	}
}

@-ms-keyframes orbit {
	0% {
		opacity: 1;
		z-index:99;
		-ms-transform: rotate(180deg);
		-ms-animation-timing-function: ease-out;
	}

	7% {
		opacity: 1;
		-ms-transform: rotate(300deg);
		-ms-animation-timing-function: linear;
		-ms-origin:0%;
	}

	30% {
		opacity: 1;
		-ms-transform:rotate(410deg);
		-ms-animation-timing-function: ease-in-out;
		-ms-origin:7%;
	}

	39% {
		opacity: 1;
		-ms-transform: rotate(645deg);
		-ms-animation-timing-function: linear;
		-ms-origin:30%;
	}

	70% {
		opacity: 1;
		-ms-transform: rotate(770deg);
		-ms-animation-timing-function: ease-out;
		-ms-origin:39%;
	}

	75% {
		opacity: 1;
		-ms-transform: rotate(900deg);
		-ms-animation-timing-function: ease-out;
		-ms-origin:70%;
	}

	76% {
	opacity: 0;
		-ms-transform:rotate(900deg);
	}

	100% {
	opacity: 0;
		-ms-transform: rotate(900deg);
	}
}

@-webkit-keyframes orbit {
	0% {
		opacity: 1;
		z-index:99;
		-webkit-transform: rotate(180deg);
		-webkit-animation-timing-function: ease-out;
	}

	7% {
		opacity: 1;
		-webkit-transform: rotate(300deg);
		-webkit-animation-timing-function: linear;
		-webkit-origin:0%;
	}

	30% {
		opacity: 1;
		-webkit-transform:rotate(410deg);
		-webkit-animation-timing-function: ease-in-out;
		-webkit-origin:7%;
	}

	39% {
		opacity: 1;
		-webkit-transform: rotate(645deg);
		-webkit-animation-timing-function: linear;
		-webkit-origin:30%;
	}

	70% {
		opacity: 1;
		-webkit-transform: rotate(770deg);
		-webkit-animation-timing-function: ease-out;
		-webkit-origin:39%;
	}

	75% {
		opacity: 1;
		-webkit-transform: rotate(900deg);
		-webkit-animation-timing-function: ease-out;
		-webkit-origin:70%;
	}

	76% {
	opacity: 0;
		-webkit-transform:rotate(900deg);
	}

	100% {
	opacity: 0;
		-webkit-transform: rotate(900deg);
	}
}

@-moz-keyframes orbit {
	0% {
		opacity: 1;
		z-index:99;
		-moz-transform: rotate(180deg);
		-moz-animation-timing-function: ease-out;
	}

	7% {
		opacity: 1;
		-moz-transform: rotate(300deg);
		-moz-animation-timing-function: linear;
		-moz-origin:0%;
	}

	30% {
		opacity: 1;
		-moz-transform:rotate(410deg);
		-moz-animation-timing-function: ease-in-out;
		-moz-origin:7%;
	}

	39% {
		opacity: 1;
		-moz-transform: rotate(645deg);
		-moz-animation-timing-function: linear;
		-moz-origin:30%;
	}

	70% {
		opacity: 1;
		-moz-transform: rotate(770deg);
		-moz-animation-timing-function: ease-out;
		-moz-origin:39%;
	}

	75% {
		opacity: 1;
		-moz-transform: rotate(900deg);
		-moz-animation-timing-function: ease-out;
		-moz-origin:70%;
	}

	76% {
	opacity: 0;
		-moz-transform:rotate(900deg);
	}

	100% {
	opacity: 0;
		-moz-transform: rotate(900deg);
	}
}