.sui-icon-folder {
    background: url(../Images/icon_folder.png);
    background-size: 16px 16px;
    background-position: center;
    background-repeat: no-repeat;
    padding: 8px;
}

.sui-icon-arrow-right {
    background: url(../Images/icon_arrow-right.png);
    background-size: 16px 16px;
    background-position: center;
    background-repeat: no-repeat;
    padding: 8px;
}

.sui-icon-arrow-buttom {
    background: url(../Images/icon_arrow_buttom.png);
    background-size: 16px 16px;
    background-position: center;
    background-repeat: no-repeat;
    padding: 8px;
}

.sui-icon-remove {
    background: url(../Images/icon_remove.png);
    background-size: 16px 16px;
    background-position: center;
    background-repeat: no-repeat;
    padding: 8px;
}

.sui-icon-add {
    background: url(../Images/icon_add.png);
    background-size: 16px 16px;
    background-position: center;
    background-repeat: no-repeat;
    padding: 8px;
}

.sui-icon-edit {
    background: url(../Images/icon_edit.png);
    background-size: 16px 16px;
    background-position: center;
    background-repeat: no-repeat;
    padding: 8px;
}

.sui-icon-loading {
    background: url(../Images/icon_loading.png);
    background-size: 16px 16px;
    background-position: center;
    background-repeat: no-repeat;
    padding: 8px;
}

.sui-icon-sort-asc {
    background: url(../Images/icon_sort_asc.png);
    background-size: 16px 16px;
    background-position: center;
    background-repeat: no-repeat;
    padding: 8px;
}

.sui-icon-sort-desc {
    background: url(../Images/icon_sort_desc.png);
    background-size: 16px 16px;
    background-position: center;
    background-repeat: no-repeat;
    padding: 8px;
}

.sui-icon-save{
    background: url(../Images/icon_save.png);
    background-size: 16px 16px;
    background-position: center;
    background-repeat: no-repeat;
    padding: 8px;
}

.sui-icon-top {
    background: url(../Images/icon_top.png);
    background-size: 16px 16px;
    background-position: center;
    background-repeat: no-repeat;
    padding: 8px;
}

.sui-icon-bottom {
    background: url(../Images/icon_bottom.png);
    background-size: 16px 16px;
    background-position: center;
    background-repeat: no-repeat;
    padding: 8px;
}

.sui-icon-left {
    background: url(../Images/icon_left.png);
    background-size: 16px 16px;
    background-position: center;
    background-repeat: no-repeat;
    padding: 8px;
}

.sui-icon-right {
    background: url(../Images/icon_right.png);
    background-size: 16px 16px;
    background-position: center;
    background-repeat: no-repeat;
    padding: 8px;
}

.sui-icon-connect {
    background:url(../Images/new_connect.png);
    background-size:16px 16px;
    background-position:center;
    background-repeat:no-repeat;
    padding:8px;
}

.sui-icon-unconnect {
    background:url(../Images/un_connect.png);
    background-size:16px 16px;
    background-position:center;
    background-repeat:no-repeat;
    padding:8px;
}

.sui-icon-refresh {
    background:url(../Images/icon_refresh.png);
    background-size:16px 16px;
    background-position:center;
    background-repeat:no-repeat;
    padding:8px;
}

.sui-icon-pool {
    background:url(../Images/icon_pool.png);
    background-size:16px 16px;
    background-position:center;
    background-repeat:no-repeat;
    padding:8px;
}

.sui-icon-exec {
    background:url(../Images/icon_exec.png);
    background-size:16px 16px;
    background-position:center;
    background-repeat:no-repeat;
    padding:8px;
}