[
    {
        "SQLServerTypeId": 34,
        "ViewTypeId": 1
    },
    {
        "SQLServerTypeId": 35,
        "ViewTypeId": 0
    },
    {
        "SQLServerTypeId": 36,
        "ViewTypeId": 2
    },
    {
        "SQLServerTypeId": 40,
        "ViewTypeId": 3
    },
    {
        "SQLServerTypeId": 41,
        "ViewTypeId": 11
    },
    {
        "SQLServerTypeId": 42,
        "ViewTypeId": 4
    },
    {
        "SQLServerTypeId": 43,
        "ViewTypeId": 4
    },
    {
        "SQLServerTypeId": 48,
        "ViewTypeId": 5
    },
    {
        "SQLServerTypeId": 52,
        "ViewTypeId": 5
    },
    {
        "SQLServerTypeId": 56,
        "ViewTypeId": 5
    },
    {
        "SQLServerTypeId": 58,
        "ViewTypeId": 11
    },
    {
        "SQLServerTypeId": 59,
        "ViewTypeId": 0
    },
    {
        "SQLServerTypeId": 60,
        "ViewTypeId": 6
    },
    {
        "SQLServerTypeId": 61,
        "ViewTypeId": 4
    },
    {
        "SQLServerTypeId": 62,
        "ViewTypeId": 7
    },
    {
        "SQLServerTypeId": 98,
        "ViewTypeId": 0
    },
    {
        "SQLServerTypeId": 99,
        "ViewTypeId": 0
    },
    {
        "SQLServerTypeId": 104,
        "ViewTypeId": 8
    },
    {
        "SQLServerTypeId": 106,
        "ViewTypeId": 5
    },
    {
        "SQLServerTypeId": 108,
        "ViewTypeId": 5
    },
    {
        "SQLServerTypeId": 122,
        "ViewTypeId": 6
    },
    {
        "SQLServerTypeId": 127,
        "ViewTypeId": 5
    },
    {
        "SQLServerTypeId": 240,
        "ViewTypeId": 0
    },
    {
        "SQLServerTypeId": 165,
        "ViewTypeId": 9
    },
    {
        "SQLServerTypeId": 167,
        "ViewTypeId": 0
    },
    {
        "SQLServerTypeId": 173,
        "ViewTypeId": 9
    },
    {
        "SQLServerTypeId": 175,
        "ViewTypeId": 10
    },
    {
        "SQLServerTypeId": 189,
        "ViewTypeId": 11
    },
    {
        "SQLServerTypeId": 231,
        "ViewTypeId": 0
    },
    {
        "SQLServerTypeId": 239,
        "ViewTypeId": 0
    },
    {
        "SQLServerTypeId": 241,
        "ViewTypeId": 12
    },
    {
        "SQLServerTypeId": 256,
        "ViewTypeId": 0
    }
]