<div class="sa-query">
    <sa-tools>
        <sa-icon type="remove" click="vm.remove()"></sa-icon>
        <sa-icon type="add"></sa-icon>
        <sa-icon type="edit"></sa-icon>
    </sa-tools>
    <sa-datagrid></sa-datagrid>
    <sa-pagination></sa-pagination>
</div>
