<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - SQLAdmin</title>
    <link href="~/Static/Content/global.css" rel="stylesheet" />
    <link href="~/Static/Content/themes/gray/easyui.css" rel="stylesheet" />
    <link href="~/Static/Content/themes/icon.css" rel="stylesheet" />
    <script src="~/Static/Scripts/jquery-1.11.3.min.js"></script>
    <script src="~/Static/Scripts/jquery.easyui-1.4.5.min.js"></script>
</head>
<body class="easyui-layout">
    <div data-options="region:'north'" style="height:55px;overflow:hidden">
        <div class="header-menu">
            <ul>
                <li class="easyui-menubutton" data-options="menu:'#menu-file'">
                    文件(F)
                    <div id="menu-file" style="width:150px;">
                        <div data-options="iconCls:'icon-undo'">Undo</div>
                        <div data-options="iconCls:'icon-redo'">Redo</div>
                        <div class="menu-sep"></div>
                        <div>Cut</div>
                        <div>Copy</div>
                        <div>Paste</div>
                        <div class="menu-sep"></div>
                        <div data-options="iconCls:'icon-remove'">Delete</div>
                        <div>Select All</div>
                    </div>
                </li>
                <li class="easyui-menubutton" data-options="menu:'#menu-edit'">
                    编辑(E)
                    <div id="menu-edit" style="width:150px;">
                        <div data-options="iconCls:'icon-undo'">Undo</div>
                        <div data-options="iconCls:'icon-redo'">Redo</div>
                        <div class="menu-sep"></div>
                        <div>Cut</div>
                        <div>Copy</div>
                        <div>Paste</div>
                        <div class="menu-sep"></div>
                        <div data-options="iconCls:'icon-remove'">Delete</div>
                        <div>Select All</div>
                    </div>
                <li class="easyui-menubutton" data-options="menu:'#menu-window'">
                    窗口(W)
                    <div id="menu-window" style="width:150px;">
                        <div data-options="iconCls:'icon-undo'">Undo</div>
                        <div data-options="iconCls:'icon-redo'">Redo</div>
                        <div class="menu-sep"></div>
                        <div>Cut</div>
                        <div>Copy</div>
                        <div>Paste</div>
                        <div class="menu-sep"></div>
                        <div data-options="iconCls:'icon-remove'">Delete</div>
                        <div>Select All</div>
                    </div>
                <li class="easyui-menubutton" data-options="menu:'#menu-help'">
                    帮助(H)
                    <div id="menu-help" style="width:150px;">
                        <div data-options="iconCls:'icon-undo'">Undo</div>
                        <div data-options="iconCls:'icon-redo'">Redo</div>
                        <div class="menu-sep"></div>
                        <div>Cut</div>
                        <div>Copy</div>
                        <div>Paste</div>
                        <div class="menu-sep"></div>
                        <div data-options="iconCls:'icon-remove'">Delete</div>
                        <div>Select All</div>
                    </div>
            </ul>
        </div>
        <div class="header-tool">
           @* <a id="btn" href="#" class="easyui-linkbutton" data-options="iconCls:'icon-search'">easyui</a>*@  
        </div>
    </div>
    <div data-options="region:'south',title:'South Title',split:true,collapsed:true,collapsible:false" style="height:100px;"></div>
    <div data-options="region:'east',iconCls:'icon-reload',title:'East',split:true,collapsed:true" style="width:100px;"></div>
    <div data-options="region:'west',title:'资源管理器',split:true" style="width:168px;">
        <ul id="tt" class="easyui-tree">
            <li>
                <span>Folder</span>
                <ul>
                    <li>
                        <span>Sub Folder 1</span>
                        <ul>
                            <li>
                                <span><a href="#">File 11</a></span>
                            </li>
                            <li>
                                <span>File 12</span>
                            </li>
                            <li>
                                <span>File 13</span>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <span>File 2</span>
                    </li>
                    <li>
                        <span>File 3</span>
                    </li>
                </ul>
            </li>
            <li>
                <span>File21</span>
            </li>
        </ul>
    </div>
    <div data-options="region:'center',title:'center title'" style="padding:5px;background:#eee;">
        @RenderBody()
    </div>
</body>
</html>