[
    {
        "Id": "6e83e5b5-5728-42d6-a950-7c1b1b275462",
        "Title": "文件",
        "SubMenus": [
            {
                "Id":"6e83e5b5-5728-42d6-a950-7c1b1b275462",
                "Icon": "/Static/Images/new_connect.png",
                "Title": "连接对象资源管理器",
                "Address": "/Connect/Index",
            },
            {
                "Id":"6e83e5b5-5728-42d6-a950-7c1b1b275462",
                "Icon": "/Static/Images/new_connect.png",
                "Title": "断开对象资源管理器",
                "Address": "/Connect/Index"
            },
            {
                "Id":"9092ECE4-78E0-42B7-9287-13B70AC6B4D6",
                "Icon":"",
                "Title":"新建",
                "Address":"",
            },
            {
                "Id":"319B96CE-DBC7-4818-BD51-BCC72D0A5DB4",
                "Icon":"",
                "Title":"打开",
                "Address":"",
            },
            {
                "Id":"32ABCD15-6BE5-4319-B6A8-DAC049830F5F",
                "Icon":"",
                "Title":"退出",
                "Address":"",
            }
        ]
       
    },
    {
        "Id": "7e83e5b5-5728-42d6-a950-7c1b1b275462",
        "Title": "编辑",
        "SubMenus": [
            {
                "Id":"6e83e5b5-5728-42d6-a950-7c1b1b275462",
                "Icon": "/Static/Images/new_connect.png",
                "Title": "查找和替换",
                "Address": "/Connect/Index"
            },
        ]
       
    },
    {
        "Id": "8e83e5b5-5728-42d6-a950-7c1b1b275462",
        "Title": "帮助",
        "SubMenus": [
            {
                "Id":"6e83e5b5-5728-42d6-a950-7c1b1b275462",
                "Icon": "/Static/Images/new_connect.png",
                "Title": "关于",
                "Address": "/Common/About"
            },
        ]
       
    }
]