[
    {
        "Id": "6e83e5b5-5728-42d6-a950-7c1b1b275462",
        "Title": "文件",
        "SubMenus": [
            {
                "Id":"6e83e5b5-5728-42d6-a950-7c1b1b275462",
                "Icon": "/Static/Images/new_connect.png",
                "Title": "连接对象资源管理器",
                "Address": "/Connect/Index"
            },
            {
                "Id":"6e83e5b5-5728-42d6-a950-7c1b1b275462",
                "Icon": "/Static/Images/new_connect.png",
                "Title": "断开对象资源管理器",
                "Address": "/Connect/Index"
            }
        ]
       
    },
    {
        "Id": "7e83e5b5-5728-42d6-a950-7c1b1b275462",
        "Title": "文件",
        "SubMenus": [
            {
                "Id":"6e83e5b5-5728-42d6-a950-7c1b1b275462",
                "Icon": "/Static/Images/new_connect.png",
                "Title": "连接对象资源管理器",
                "Address": "/Connect/Index"
            },
            {
                "Id":"6e83e5b5-5728-42d6-a950-7c1b1b275462",
                "Icon": "/Static/Images/new_connect.png",
                "Title": "断开对象资源管理器",
                "Address": "/Connect/Index"
            }
        ]
       
    },
    {
        "Id": "8e83e5b5-5728-42d6-a950-7c1b1b275462",
        "Title": "文件",
        "SubMenus": [
            {
                "Id":"6e83e5b5-5728-42d6-a950-7c1b1b275462",
                "Icon": "/Static/Images/new_connect.png",
                "Title": "连接对象资源管理器",
                "Address": "/Connect/Index"
            },
            {
                "Id":"6e83e5b5-5728-42d6-a950-7c1b1b275462",
                "Icon": "/Static/Images/new_connect.png",
                "Title": "断开对象资源管理器",
                "Address": "/Connect/Index"
            }
        ]
       
    }
]