<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="NewBinding0" />
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint address="net.tcp://localhost:15500" binding="netTcpBinding"
        bindingConfiguration="" contract="SQLAdmin.TimerContract.IScheduleService"
        name="SQLAdmin.Timer" kind="" endpointConfiguration="" />
    </client>
  </system.serviceModel>
</configuration>